.loginPage-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/images/background.jpg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: auto 160%;
    background-position: 30% center;
}

.loginPage-form-wrapper {
    margin-right: 12%!important;
    padding: 20px!important;
    border-radius: 5px;
    min-width: 18%;
}

.loginPage-form-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loginPage-form-title {
    cursor: pointer;
    margin-bottom: 30px;
}

.loginPage-form-title-text {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #384650;
}
  
.loginPage-form-input-label {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    margin-bottom: 10px;
}

.loginPage-form-button {
    width: 144px;
    height: 36px; 
    background: transparent!important;
    border-color: #5e5e5e!important;
    color: #5e5e5e!important;
    margin-top: 20px;
}

.loginPage-form-help {
    cursor: not-allowed;
    padding-top: 10px;
    text-decoration: underline;
  }