.bottomMobile-wrapper {
    position: fixed;
    display: flex;
    padding: 10px 30px;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #fff;
    border-top: 1px solid #D3DAE6;
    bottom: 0;
    z-index: 30;
    cursor: pointer;

    &.dark {
        background-color: #2f2f2f;
        border-top: 1px solid #2f2f2f;
        color: #ababab;
    }
}

.bottomMobile-icon-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.bottomMobile-icon {
    font-size: 20px;
}