.homePageDesktop-wrapper {
    background-color: inherit;
    padding: 20px;
    width: 100%;
    min-height: 90vh;
    position: relative;
    color: inherit;
}

.homePageDesktop-box-wrapper {
    margin: 2vh 2vh 0vh 2vh;
    height: 100%;
    min-height: 80vh;
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    color: inherit;
    padding: 20px 40px 40px;
}

.homePageDesktop-box-title {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
    color: inherit;
}

.homePageDesktop-icon-question {
    margin-left: 5px;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
}

.homePageDesktop-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 10px;
}