.notification-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 2px;
    padding: 5px 16px;
    width: 100%;
}

.notification-title {
    font-weight: bold;
    font-size: 16px;
}

.notification-description {
    font-size: 14px;
    padding-right: 10px;
}

.notification-date {
    font-size: 12px;
}

.notification-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
}

.notification-icon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    transition: ease-in-out 200ms;
    transition-property: background-color, transform;
    cursor: pointer;
}

.notification-icon:hover {
    transform: scale(1.3);
}

.notification-date-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}