.fileUpload-drawer-mask {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 109;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    transition: all 0.5s ease-in-out;
    padding: 0px 10px 30px;
}

.fileUpload-black-mask {
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    opacity: 0.4;
}

.fileUpload-drawer-menu {
    z-index: 110;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    transition: all 0.5s ease-in-out;
}

.fileUpload-section-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 20px;
}

.fileUpload-section-wrapper-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 8vh;
}

.fileUpload-card-line {
    margin: auto;
    width: 90%;
    border-bottom: 0.5px solid;
}