.settingsMobile-wrapper {
    display: flex;
    flex-direction: column;
    background-color: 'inherit';
    min-height: 92vh;
}

.settingsMobile-title {
    background-color: inherit;
    color: inherit;
    margin-top: 50px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: -10px;
}

.settingsMobile-section-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.settingsMobile-section-wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    color: inherit;
    background-color: inherit;
}

.settingsMobile-section-wrapper-row-icon {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 3px;
    color: inherit;
}

.settingsMobile-section-wrapper-row-text {
    font-size: 16px;
    color: inherit;
}

.settingsMobile-section-wrapper-row-left-icon {
    color: inherit;
}

.settingsMobile-card-line {
    margin: auto;
    width: 90%;
    border-bottom: 0.5px solid;
}

.settingsMobile-section-wrapper-row .ant-row.ant-form-item {
    margin-bottom: 0px;
    width: 100%;
}

.settingsMobile-section-wrapper .settingsMobile-section-wrapper-row .ant-input {
    border: none;
    padding-left: 0px;
}

.settingsMobile-section-wrapper .settingsMobile-section-wrapper-row .ant-input:focus {
    outline: none!important;
    box-shadow: none!important;
}

.settingsMobile-section-wrapper-row .ant-row.ant-form-item {
    margin-bottom: 0px;
}