.popoverAvatar-wrapper {
    min-height: 50px;
    width: 250px;
    max-height: 400px;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.popoverAvatar-icon {
    font-size: 22px;
    margin-right: 10px;
}

.popoverAvatar-button-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 20px;
    align-items: center;
}

.popoverAvatar-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid rgb(226 235 251);
    padding: 10px 10px;
}

.popoverAvatar-button:hover {
    background-color: rgb(226 235 251);
}

.popoverAvatar-name {
    font-size: 20px;
    text-align: center;
}

.popoverAvatar-uploader {
    position: relative;
    width: 150px;
    margin-bottom: 30px;
    align-self: center;
}

.popoverAvatar-uploader-edit {
    opacity: 0;
    background-color: #d9d9d9;
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100px 0px 0px 100px;
    left: 0;
}

.popoverAvatar-uploader-delete {
    opacity: 0;
    background-color: #d9d9d9;
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0px 100px 100px 0px;
    right: 0;
}

.avatar-settings-content-wrapper {
    display: flex;
    flex-direction: column;
}

.popoverAvatar-phone-input {
    border-radius: 5px;
    font-size: 14px;
    padding-bottom: 0!important;
    font-family: Comfortaa;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}