.header-wrapper {
    display: flex;
    padding: 10px 30px;
    height: 9vh;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3), 0 1px 5px -2px rgba(152, 162, 179, 0.3);
}

.header-top-icons {
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.header-top-icon-wrapper {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-right: 1px solid rgb(239, 242, 246);
}

.header-top-icon-wrapper:hover {
    background-color: rgb(235, 239, 245);
}

.header-icon {
    color: #b0bed4;
    font-size: 24px;
}

.header-badge {
    margin: 0px 10px;
}

.header-badge .ant-badge-count  {
    width: 14px;
    height: 14px;
    min-width: 0px;
    display: flex;
    justify-content: center;
    line-height: 14px;
}

.header-badge.ant-badge .ant-scroll-number.ant-badge-count .ant-scroll-number-only {
    font-size: 10px;
}