.datePicker-drawer-mask {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 109;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    transition: all 0.5s ease-in-out;
    padding: 0px 10px 30px;
}

.datePicker-black-mask {
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    opacity: 0.4;
}

.datePicker-drawer-menu {
    z-index: 110;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    transition: all 0.5s ease-in-out;
}

.datePicker-section-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 20px;
}

.datePicker-section-wrapper-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 8vh;
}

.datePicker-drawer-main-wrapper {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datePicker-drawer-main-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 150px;
    min-height: 150px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    scroll-snap-type: y mandatory;
    width: 33%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.datePicker-drawer-main-block-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .datePicker-drawer-main-block-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.datePicker-drawer-main-block-row {
    min-width: 30px;
    line-height: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    scroll-snap-align: start;
}

.datePicker-card-line {
    margin: auto;
    width: 90%;
    border-bottom: 0.5px solid #8c8a8a;
}