.somePage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: inherit;
}

.somePage-mobile {
    width: 70vw;
}