.sideBar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 19px;
}

.sideBar-wrapper {
    height: 100vh;
    width: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 2px -1px rgba(152, 162, 179, 0.3);
}

.sideBar-top-text {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.sideBar-navigation {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}
