.settingsPersonal-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: inherit;
    color: inherit;
    padding-bottom: 15vh;

    &.no-scroll {
        height: 100vh;
    }
}

.settingsPersonal-avatar-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0px 20px 20px;
    justify-content: space-between;
    color: inherit;
}

.settingsPersonal-phone-input {
    border: none;
    padding-left: 0px;
    font-size: 14px;
    padding-bottom: 0!important;
    font-family: Comfortaa;
    color: inherit;
    background-color: inherit;
    line-height: 1.5;
    width: 100%;
    height: 32px;
}

.settingsPersonal-phone-input:focus {
    outline: none;
}

.settingsPersonal-button-done {
    font-weight: bold;
    background: none!important;
    border: none;
    padding: 0!important;
    height: fit-content;
}

.settingsPersonal-avatar-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsMobile-section-hint {
    padding-left: 20px;
    margin-top: -10px;
    font-size: 11px;
}

