@font-family: 'Comfortaa';
@border-radius-base: 5px; // major border radius
@primary-color: #c80000; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers


.ant-table-row:hover {
    // background-color: transparent;
  
    & td {
      background-color: transparent !important;
    }
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0px!important;
}

select:focus {
    border-color: rgb(200, 0, 0)!important;
    box-shadow: 0 0 3pt 0.5pt rgb(200, 0, 0);
    outline: none;
}

button {
    font-family: 'Comfortaa';
}

.ant-form {
    color: inherit;
    background-color: inherit;
}

.ant-input {
    color: inherit;
    background-color: inherit;
}

.ant-form-item {
    color: inherit;
    background-color: inherit;
}

.ant-table {
    color: inherit;
    background-color: inherit; 
}

.ant-table-container {
    color: inherit;
    background-color: inherit;  
}

.ant-table-header {
    color: inherit;
    background-color: inherit;
}

.ant-table-thead > tr > th {
    color: inherit;
    background-color: inherit;
}

.ant-popover.header-popover .ant-popover-content .ant-popover-inner-content {
    padding: 0px;
}