@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Medium.ttf") format('truetype');
    font-style: normal;
    font-weight: 600;
}

@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import 'custom.less'; // variables to override above

.locale-button-wrapper {
    position: absolute;
    z-index: 100;
    bottom: 10px;
    right: 10px;
}