.settingsGeneral-wrapper {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    min-height: 92vh;
}

.settingsGeneral-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 40px;
}

.settingsGeneral-select { 
    width: 100%;
    border: none;
    height: 32px;
}

.settingsGeneral-select > select { 
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
    position: absolute; 
    top: -9999px; 
}