.sideBarButton-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
    width: 100%;
}

.sideBarButton-icon {
    color: #b4c4de;
    font-size: 26px;
    line-height: 26px;
}

.sideBarButton-wrapper-box {
    padding: 10px;
    border-radius: 10px;
}